.drop select {
    background: transparent;
    margin-left: 550px;
    margin-top: 150px;

}

.drop::after{
    display: inline-block;
    border-top: 10px solid #777;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:calc(50% - 5px);
    right:.5rem;
    z-index: -1;
    pointer-events: none;
    
}

.message {
    display: none;
    color: blue;
    font-size: 25px;
    margin-left: 100px;
    margin-top: 50px;
}

#droping {
 
 height: 150px;
 
 line-height: 150px;
 
 text-align: center;
 
 
 
}
 
span {
 
 display: inline-block;
 
 vertical-align: middle;
 
 line-height: normal;

}


