.drop select {
    background: transparent;
    margin-left: 550px;
    margin-top: 150px;

}

.drop::after{
    display: inline-block;
    border-top: 10px solid #777;
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:calc(50% - 5px);
    right:.5rem;
    z-index: -1;
    pointer-events: none;
    
}
h2{
    font-family: initial;
    color: #C71585;
}
p1 {
    color: darkblue;
    font-size: 26px;
    text-align:center;
}

p2 {
    color: blue;
    font-size: 16px;
    font-style: inherit;
}

button {
    padding: 7px 28px 7px 28px;
}
td
{
    font-size: 32px;
    text-align:center;
}
p3
{
    font-size : 25px;

}
#corpus_1 {
    color: green;
    font-size: 32px;
    text-align: center;
}

#corpus_2 {
    color: red;
    font-size: 32px;
    text-align: center;
}



#no_disp,p
{
     text-align : center;
}
#solution
{
    text-align : center;
    font-size : 18px;
}
